### Importing Libraries

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

### Loading the Dataset (Heart data)

In [4]:
heart_data_path = "Data/heart_data.csv"
heart_data = pd.read_csv(heart_data_path)

### Inspecting the Dataset

In [6]:
# Basic Information about the dataset
print("Basic Info \n")
heart_data.info()

# The First 10 rows of the data
print("\n The first 10 rows of the data \n")
print(f"{heart_data.head(10)} \n")

# Descriptive statistics about the data (Numerical)
print("Numerical Description of the data \n")
print(f"{heart_data.describe()} \n")

# Descriptive statistics about the data (Categorical)
print("Categorical Description of the data \n")
heart_data.describe(include="O")

Basic Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            303 non-null    float64
 1   sex            303 non-null    float64
 2   cp             303 non-null    float64
 3   trestbps       303 non-null    float64
 4   chol           303 non-null    float64
 5   fbs            303 non-null    float64
 6   restecg        303 non-null    float64
 7   thalach        303 non-null    float64
 8   exang          303 non-null    float64
 9   oldpeak        303 non-null    float64
 10  slope          303 non-null    float64
 11  ca             303 non-null    object
 12  thal           303 non-null    object
 13  heart_disease  303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

 The first 10 rows of the data

    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1  67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2  67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3  37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4  41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
5  56.0  1.0  2.0     120.0  236.0  0.0      0.0    178.0    0.0      0.8
6  62.0  0.0  4.0     140.0  268.0  0.0      2.0    160.0    0.0      3.6
7  57.0  0.0  4.0     120.0  354.0  0.0      0.0    163.0    1.0      0.6
8  63.0  1.0  4.0     130.0  254.0  0.0      2.0    147.0    0.0      1.4
9  53.0  1.0  4.0     140.0  203.0  1.0      2.0    155.0    1.0      3.1

   slope   ca thal  heart_disease
0    3.0  0.0  6.0              0
1    2.0  3.0  3.0              2
2    2.0  2.0  7.0              1
3    3.0  0.0  3.0              0
4    1.0  0.0  3.0              0
5    1.0  0.0  3.0              0
6    3.0  2.0  3.0              3
7    1.0  0.0  3.0              0
8    2.0  1.0  7.0              2
9    3.0  0.0  7.0              1

Numerical Description of the data

              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.438944    0.679868    3.158416  131.689769  246.693069    0.148515
std      9.038662    0.467299    0.960126   17.599748   51.776918    0.356198
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     56.000000    1.000000    3.000000  130.000000  241.000000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope  \
count  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.990099  149.607261    0.326733    1.039604    1.600660
std      0.994971   22.875003    0.469794    1.161075    0.616226
min      0.000000   71.000000    0.000000    0.000000    1.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000
50%      1.000000  153.000000    0.000000    0.800000    2.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000

       heart_disease
count     303.000000
mean        0.937294
std         1.228536
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max         4.000000

Categorical Description of the data

         ca thal
count   303  303
unique    5    4
top     0.0  3.0
freq    176  166